*{
    margin: 0%;
}


.container {
    background-image: url('image4.jpeg');
    background-size: cover;
    height: 100vh;
}

.navdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.content{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 100px;
}

.content h1{
    font-size: 90px;
    font-family: sans-serif;
    font-weight: 100;
}

.content h4{
    font-family: serif;
    font-size: 30px;
    font-weight: 100;
}

.content img{
    height: 230px;
    width: 230px;
    border-radius: 20px;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.form-wrapper {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1000; /* Stay on top of image or text */
}
